.characterList {
  margin: 75px 200px;
  width: calc(100% - 400px);
}

.characterList-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  a {
    font-size: 20px;
    font-weight: 700;
    color: white;
  }
}
.characterList-header > a {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.characterList-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}
